* {
margin: 0;
padding: 0;
}

#container {
margin: 50px auto;
width: 910px;
border: 3px solid red;
border-radius: 5px;
padding: 10px;
}

#container:after {
content: ""; 
display: block; 
clear: both; 
height: 0; 
}

/* picture *************************************************/

.pic{
float: left;
position: relative;
margin: 10px;
padding: 7px;
}

/* image ****************************************************/

img {
display: block;
margin-left: -7px;
margin-top: -7px;
}

/* shadow pictures *****************************************/

.right-tile {    
background: url("../images/shadow-right-tile.png") repeat-y; 
position:absolute;     
height:auto;  
width: 7px;      
top:7px;          
right:0;   
bottom: 7px;     
} 

.bottom-tile {     
background: url("../images/shadow-bottom-tile.png") repeat-x;
position:absolute;     
width:auto;  
height: 7px;      
left:7px;          
bottom:0;   
right: 7px;     
}

.right-top {     
background: url("../images/shadow-right-top.png") no-repeat;
position:absolute;     
width:7px;  
height: 7px;      
top:0;             
right: 0;     
}

.bottom-left {     
background: url("../images/shadow-bottom-left.png") no-repeat;
position:absolute;     
width:7px;  
height: 7px;      
bottom:0;             
left: 0;     
}

.corner {     
background: url("../images/shadow-corner.png") no-repeat;
position:absolute;     
width:7px;  
height: 7px;      
bottom:0;             
right: 0;     
}